extends base.pug

//- block scripts
//-   script(src='/static/script.js')
block style 
    style
      include ../static/contact.css

block content 
    nav#nav 
        ul 
            li #[a(href="/") Home] 
            li #[a(href="/") About us]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact us]
    section#card 
        h3 form 
        form#faram
            h1= "Add a movie!"
            form(action="/new_movie" method="POST")
            p Title:
              input(type="text" name="title" placeholder="")
            p Year:
              input(type="text" name="year" placeholder="")
            p imdb:
              input(type="text" name="imdb" placeholder="")
            input(type="submit")


























//- doctype html
//- html
//-   head
//-     style
//-       include ../static/contact.css
//-   body
//-     nav#nav 
//-         ul 
//-             li #[a(href="/") Home] 
//-             li #[a(href="/") About us]
//-             li #[a(href="/") Services]
//-             li #[a(href="/contact") Contact us]
//-     div#card 
//-           h3 form 
//-     div#footer
//-         p © 2021 ST Dance Academy | All Rights Reserved 
//-     form#faram
//-         h1= "Add a movie!"
//-         form(action="/new_movie" method="POST")
//-         p Title:
//-           input(type="text" name="title" placeholder="")
//-         p Year:
//-           input(type="text" name="year" placeholder="")
//-         p imdb:
//-           input(type="text" name="imdb" placeholder="")
//-         input(type="submit")
         
   
//-     script
//-       include ../static/script.js
