doctype html
html
  head
    title Sahil Dance Academy
    style
      include ../static/style.css
  body
    nav#nav 
        ul 
            li #[a(href="/") Home] 
            li #[a(href="/") About us]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact us]
    section#intro
        div.big Welcome to ST Dance Academy
        div.small Eat Sleep Dance Repeat 
    section#mission
        h2 Our Mission   
        div#one.card 
          h3  Dance Perfection  
        div#two.card 
          h3  Dance the way you like 
        div#three.card 
          h3  Expert Teaching 
    section#sponsors
        h2 Our Sponsors  
    
    section#footer
        p © 2021 ST Dance Academy | All Rights Reserved 
    script
      include ../static/script.js