
*{
    margin: 0px;
    padding: 0px;
}

#nav{
    background-color:#bb997e;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
nav ul li {
    list-style: none;
    margin: 13px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
nav ul li a:hover{
    color: black;
}

#intro{
    background: center /cover no-repeat url("../static/introbg.jpg");
    width:100%;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-bottom:40px;
}   
div.small{
    font-size: 20px;
}
#mission {
    width: 100%;
    height: 300px;
    background-color: #d2a582;

}

#mission h2{
    text-align: center;
    padding-top: 10px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 11px;
    width: 26%;
    height: 200px;
    margin: 22px 47px;
    color: white;
        
}
.card h3{
    text-align: center;
    margin-top: 83px;
    font-size: 30px;
}
#one{
    background: center /cover no-repeat url("../static/perfection.jpg");
}
#two{
    background: center /cover no-repeat url("../static/pick.jpg");
}
#three{
    background: center /cover no-repeat url("../static/teaching.jpg");
}
#sponsors{
    width: 100%;
    height: 300px;
    background-color: #d2a582;
}
#sponsors h2{
    text-align: center;
    padding-top: 10px;
}
#spimg{
    display: flex;
    /* height: 80%; */
    /* width: 1000px; */
    justify-content: center;
    align-items: center
}
.spimg{
    height: 67px;
    padding: 15px 24px;
    margin: 50px 7px;


}

#footer{
    width: 100%;
    height: 50px;
    background-color:#bb997e ;
    color: black;
}
#footer p{
    text-align: center;
    padding-top:15px;

}